<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.lemonsoda.gunners">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".news.NewsIndexActivity" />
        <activity
            android:name=".newsdetail.NewsDetailActivity"
            android:parentActivityName=".news.NewsIndexActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="top.lemonsoda.gunners.news.NewsIndexActivity" />
        </activity>
        <activity
            android:name=".newsabout.AboutActivity"
            android:parentActivityName=".news.NewsIndexActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="top.lemonsoda.gunners.news.NewsIndexActivity" />
        </activity>
        <activity
            android:name=".newsfavorite.NewsFavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".news.NewsIndexActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="top.lemonsoda.gunners.news.NewsIndexActivity" />
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:parentActivityName=".news.NewsIndexActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="top.lemonsoda.gunners.news.NewsIndexActivity" />
        </activity>

        <!-- Weibo Login Configuration -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>